.counter-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--highlight-color);
  padding: 50px;
  border-radius: 15px;
  min-height: 500px;
  font-size: 40px;
}
